div.person-card {
    height: 7em;
    aspect-ratio : 1 / 1;
    margin: 0.5em;
    padding: 0.5em;
    border-radius:13px;
    
    /* max-width: 7em; */
    /* flex: 1 */
    /* flex-shrink: 1;
    flex-basis: 7em;
    flex-grow: 1; */
    /* flex: 0 0 auto; */
    /* width: 7em */
    /* width: 100%; */
    /* flex-grow: 0; */
    /* flex-shrink: 1; */
    /* flex-basis: auto; */
    /* height: 7em; */
}

div.filler {
    border: 5px solid transparent;
}