:root {
    --maxRed: orangered;
}

body {
    font-family: "Arial";
}

*[hidden] {
    visibility: hidden;
}

span {
    border-radius: 5px;
    padding: 5px;
}

*.lightBox {
    color: darkgrey;
    background-color: rgb(240, 240, 240);
    border: 1px solid darkgrey;
}

*.alertBox {
    color: red;
    background-color: rgb(255, 217, 222);
    border: 1px solid darkred;
}

h1, h2, h3 {
    color : brown;
}

div, h1 {
    border-radius: 0.5em;
    padding: 0.2em;
}

small {
    margin: 0px;
    padding: 0px;
}

*.lightText {
    color: lightslategray;
}

*.flex-comment {
    color: var(--maxRed);
}

*.flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    row-gap: 0.5em;
    border: 3px solid var(--maxRed);
    background: linear-gradient(lightsalmon, orange);
    margin: 0px;
}

div.flex-row {
    flex: 1;
    margin-left:0.3em;
    margin-right:0.3em;
    background-color: rgb(255, 224, 184);
}
  


/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #tree {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: blue;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    /* display: none; */
    visibility:hidden;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }