:root {
  --maxRed: orangered;
  --border-thickness: 3px;
  --radius: 0.5em;
}

*.lazy-background {
  background-image: url("http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/volcano.png");
}

*.background {
  /* best case : use videos/images CDN */
  background-image: url("https://wallpapershome.com/images/pages/pic_h/558.jpg");
  background-size: auto;
}

body {
  font-family: "Arial";
  font-display: fallback;
}

*[hidden] {
  visibility: hidden;
}

span {
  border-radius: var(--radius);
  padding: 5px;
}

*.light-box {
  color: darkgrey;
  background-color: rgb(240, 240, 240);
  border: 1px solid darkgrey;
}

*.alert-box {
  color: red;
  background-color: rgb(255, 217, 222);
  border: 1px solid darkred;
}

h1, h2, h3 {
  color : brown;
  border: var(--border-thickness) solid brown;
  border-radius: var(--radius);
  background-color: var(--maxRed);
  padding: 10px;
}

div {
  border-radius: var(--radius);
  padding: 0.2em;
}

small {
  margin: 0px;
  padding: 0px;
}

*.light-text {
    color: lightslategray;
}

*.flex-comment {
    color: var(--maxRed);
}

*.flex-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  row-gap: 0.5em;
  border: var(--border-thickness) solid var(--maxRed);
  background: linear-gradient(lightsalmon, orange);
  margin: 0px;
}

div.flex-row {
  flex: 1;
  margin-left:0.3em;
  margin-right:0.3em;
  background-color: rgb(255, 224, 184);
}

#tree {
  margin: 0;
  padding: 0;
}